@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #ffffff; */

  background-repeat: no-repeat;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove default body margin */
}

.header {
  background-color: #cdcdd6;
  padding: 10px 20px;
  color: rgb(68, 63, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  flex: 1; /* Ensures the main content grows to fill available space */
}

.footer {
  background-color: #cdcdd6;
  padding: 10px 20px;
  color: rgb(68, 63, 63);
  height: 70px;
  margin-top: auto; /* Pushes footer to bottom */
}


.App {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: #2b47e5;
}

h2 {
  font-size: large;
  text-align: center;
  color: #2b47e5;
}

fieldset {
  border: none;
}

input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: 10%;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

button {
  padding: 5px;
  border-radius: 20px;
  margin: 20px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 50%;
  height: 75px;
  font-size: 16px;
}

button:hover {
  transform: scale(1.5);
  background-color: #76c078;
}

.reset-submit-button{
  padding: 5px;
  border-radius: 20px;
  margin: 20px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 150px;
  height: 50px;
  font-size: 16px;
}

textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}

.back-button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
  height: 50px;
  margin: 20px;
 font-size: 20px;
  border-radius: 15px;
  background-color: #e8472a;
}

