@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #cdcdd6;
  padding: 10px 20px;
  color: rgb(68, 63, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  flex: 1; /* This ensures that the main content area grows to fill available space */
}

.footer {
  background-color: #cdcdd6;
  padding: 10px 20px;
  color: rgb(68, 63, 63);
  height: 70px;
  margin-top: auto;
}
